@use './colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
	background-color: colors.$secondary;

	&.container {
		gap: 3rem;
		display: flex;
		flex-direction: column;

		padding: 5rem 2% 1% 2%;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
