@use '../../styles/colors';

.container {
	.textWelcome {
		color: colors.$white;
		font-size: 1.6rem;
		font-weight: 600;
		text-align: justify;

		padding: 1rem 0.25rem;
	}

	h3 {
		font-weight: 500;
		font-size: 2.2rem;
		text-align: center;
		color: colors.$white;
		text-transform: uppercase;
	}

	#buttons {
		gap: 1rem;
		display: grid;
	}
	.buttons {
		gap: 2rem;
		display: grid;
		justify-items: center;

		.button {
			padding: 1rem 2rem;
			border-radius: 2rem;
			background-color: colors.$primary;
			border: 3px solid darken(colors.$secondary, 10);
			width: min(100%, 300px);

			font-size: 1.3rem;
			color: colors.$white;
			text-align: center;

			&:hover {
				cursor: pointer;
				border-color: colors.$primary;
				background-color: lighten(colors.$primary, 2);
			}
		}
	}

	.appButton {
		position: fixed;
		$imgSize: 200px;
		$distanceFromCorner: 22px;
		left: $distanceFromCorner;
		bottom: $distanceFromCorner;
		width: $imgSize;
	}

	.privacyTerms {
		position: fixed;
		$distanceFromCorner: 22px;
		right: $distanceFromCorner;
		bottom: $distanceFromCorner;

		color: colors.$white;
		font-size: 0.8rem;
		text-align: center;
		padding: 1rem 0.25rem;

		a {
			text-decoration: none;
			font-weight: 600;

			&:hover {
				cursor: pointer;
				color: colors.$primary;
			}
		}
	}
}
