@use '../../styles/colors';

.container {
	color: colors.$white;

	.buttons {
		gap: 1rem;
		display: flex;
		justify-content: center;
	}

	.inputs {
		gap: 4rem;
		display: flex;
		justify-content: center;

		.inputWrapper {
			gap: 1rem;
			display: grid;
			justify-items: center;

			input {
				$inputSize: 90px;
				width: $inputSize;
				height: $inputSize;
				border-radius: calc($inputSize / 4);
				outline: 0;
				border: 3px solid darken(colors.$primary, 10);

				color: colors.$secondary;
				font-size: 2rem;
				text-align: center;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				/* Firefox */
				&[type='number'] {
					-moz-appearance: textfield;
				}

				&:focus {
					color: darken(colors.$secondary, 20);
					border-color: darken(colors.$secondary, 20);
				}
			}
		}
	}

	.outputs {
		gap: 1rem;
		display: grid;
		justify-items: center;

		.label {
			gap: 1rem;
			display: grid;
			justify-content: center;

			span {
				display: grid;
				place-items: center;
				place-self: center;

				$inputSize: 100px;
				width: $inputSize;
				height: $inputSize;
				border-radius: calc($inputSize / 4);
				border: 3px solid darken(colors.$primary, 10);
				background-color: colors.$white;

				color: colors.$secondary;
				font-size: 2.2rem;
			}
		}
	}
}
