@use '../../styles/colors';

.container {
	.buttons {
		gap: 1rem;
		display: flex;
		justify-content: center;
	}

	.materias {
		gap: 1.5rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
	}

	.toast__body {
		background: linear-gradient(
			to left,
			colors.$primary,
			colors.$primary,
			colors.$secondary
		);
	}
}
