@use '../../styles/colors';

.button {
	position: 'absolute';
	width: 60px;
	height: 60px;
	border-width: 3px;
	border-radius: 40px;
	border-color: colors.$primary;
	left: 20px;
	bottom: 30px;
	align-items: 'center';
	justify-content: 'center';
	background-color: colors.$secondary;
}

.buttonText {
	font-weight: '400';
	color: colors.$white;
}
