@use '../../styles/colors';

.button {
	$btnSize: 75px;
	width: $btnSize;
	height: $btnSize;
	border-radius: $btnSize;
	border: 3px solid colors.$primary;
	background-color: colors.$secondary;

	position: fixed;
	left: 2rem;
	bottom: 3rem;

	color: colors.$white;
	font-size: 1.2rem;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
